/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&caps_word {
    continue-list = <RBKT>, <GRAVE>, <COMMA>, <DOT>, <FSLH>;
};

/ {
    behaviors {

         td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp T>, <&kp GRAVE>, <&none>;
        };
        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_1";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp B>, <&kp Q>, <&none>;
        };
        td2: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_2";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp I>, <&kp O>, <&none>;
        };
        td3: tap_dance_3 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_3";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp M>, <&kp RBKT>, <&none>;
        };
        td4: tap_dance_4 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_4";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sk LSHIFT>, <&kp RBKT>, <&none>;
        };
        td5: tap_dance_5 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_4";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LALT>, <&m22_AltF4>, <&none>;
        };
        td6: tap_dance_6 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_6";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp KP_MINUS>, <&kp UNDER>, <&none>;
        };
    };
    macros {
        m0_HASH: m0_HASH {
            label = "m0_HASH";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N3 &kp KP_N5>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m1_DQT: m1_DQT {
            label = "m1_DQT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N3 &kp KP_N4>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m2_2DQT: m2_2DQT {
            label = "m2_2DQT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N3 &kp KP_N4>
                , <&macro_release &kp LEFT_ALT>
                , <&macro_tap &kp LEFT>
                , <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N3 &kp KP_N4>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m3_EXCL: m3_EXCL {
            label = "m3_EXCL";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N3 &kp KP_N3>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m4_AT: m4_AT {
            label = "m4_AT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N6 &kp KP_N4>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m5_No: m5_No {
            label = "m5_No";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N2 &kp KP_N5 &kp KP_N2>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m6_SEMI: m6_SEMI {
            label = "m6_SEMI";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N5 &kp KP_N9>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m7_COLO: m7_COLO {
            label = "m7_COLO";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N5 &kp KP_N8>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m8_PRCNT: m8_PRCNT {
            label = "m8_PRCNT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N3 &kp KP_N7>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m9_AMPS: m9_AMPS {
            label = "m9_AMPS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N3 &kp KP_N8>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m10_QMARK: m10_QMARK {
            label = "m10_QMARK";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N6 &kp KP_N3>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m11_2PAR: m11_2PAR {
            label = "m11_2PAR";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N4 &kp KP_N1>
                , <&macro_release &kp LEFT_ALT>
                , <&macro_tap &kp LEFT>
                , <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N4 &kp KP_N0>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m12_PRCNT: m12_PRCNT {
            label = "m12_PRCNT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N3 &kp KP_N7>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m13_2BKT: m13_2BKT {
            label = "m13_2BKT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N9 &kp KP_N1>
                , <&macro_release &kp LEFT_ALT>
                , <&macro_tap &kp LEFT>
                , <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N9 &kp KP_N3>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m14_2BRC: m14_2BRC {
            label = "m14_2BRC";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N1 &kp KP_N2 &kp KP_N3>
                , <&macro_release &kp LEFT_ALT>
                , <&macro_tap &kp LEFT>
                , <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N4 &kp KP_N1 &kp KP_N5>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
         m15_ClLFT: m15_ClLFT {
            label = "m15_ClLFT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp LEFT>
                , <&macro_release &kp LCTRL>
                ;
        };
         m16_ClRIGT: m16_ClRIGT {
            label = "m16_ClRIGT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp RIGHT>
                , <&macro_release &kp LCTRL>
                ;
        };
         m17_RU: m17_RU {
            label = "m17_RU";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp N8>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>
                ;
        };
         m18_EN: m18_EN {
            label = "m18_EN";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp N9>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>
                ;
        };
         m19_COMMA: m19_COMMA {
            label = "m19_COMMA";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N4 &kp KP_N4>
                , <&macro_release &kp LEFT_ALT>
                , <&macro_tap &kp SPACE>
                ;
        };
         m20_DOT: m20_DOT {
            label = "m20_DOT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N4 &kp KP_N6>
                , <&macro_release &kp LEFT_ALT>
                , <&macro_tap &kp SPACE>
                , <&macro_tap &sl LSHFT>
                , <&macro_tap &skq LSHFT>
                ;
        };
         m21_DOTn: m21_DOTn {
            label = "m21_DOTn";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N4 &kp KP_N6>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
         m22_AltF4: m22_AltF4 {
            label = "m22_AltF4";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp F4>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
         m23_CMNT: m23_CMNT {
            label = "m22_AltF4";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp BSLH>
                , <&macro_release &kp LCTRL>
                ;
        };
         m24_UNCMNT: m24_UNCMNT {
            label = "m24_UNCMNT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp BSLH>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>
                ;
        };
         m25_OBND: m25_OBND {
            label = "m25_OBND";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp N>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
         m26_OBNU: m26_OBNU {
            label = "m26_OBNU";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp P>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
//         m27_OSM: m27_OSM {
//           label = "m27_OSM";
//            compatible = "zmk,behavior-macro";
//            #binding-cells = <0>;
//            bindings
//                = <&macro_tap &sl LSHFT>
//                ;
//        };
         m28_AltDel: m28_AltDel {
           label = "m28_AltDel";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp DEL>
                , <&macro_release &kp LSHFT>
                ;
        };
         m29_EntSft: m29_EntSft {
           label = "m29_EntSft";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp RET>
                , <&macro_tap &skq LSHFT>
                ;
        };
         m30_psw: m30_psw {
           label = "m30_psw";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp N1>
                , <&macro_tap &kp N5>
                , <&macro_tap &kp N7>
                , <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp N9>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp V>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp F>
                , <&macro_tap &kp H>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp S>
                , <&macro_tap &kp N8>
                , <&macro_tap &kp N5>
                , <&macro_tap &kp N4>
                , <&macro_tap &kp RET>
                ;
        };
         m31_rt: m31_rt {
           label = "m31_rt";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp R>
                , <&macro_tap &kp O>
                , <&macro_tap &kp O>
                , <&macro_tap &kp T>
                , <&macro_tap &kp TAB>        
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp R>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp O>
                , <&macro_tap &kp O>
                , <&macro_tap &kp T>
                , <&macro_tap &kp N1>
                , <&macro_tap &kp N4>
                , <&macro_tap &kp N1>
                , <&macro_tap &kp N4>
                , <&macro_tap &kp RET>
                ;
        };
         m32_BA: m32_BA {
           label = "m32_BA";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp B>
                , <&macro_tap &kp A>
                , <&macro_tap &kp O>
                ;
        };
         m33_BS: m33_BS {
           label = "m33_BS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp B>
                , <&macro_tap &kp S>
                ;
        };
         m34_BD: m34_BD {
           label = "m34_BD";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp B>
                , <&macro_tap &kp D>
                ;
        };
         m35_B1: m35_B1 {
           label = "m35_B2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp B>
                , <&macro_tap &kp N1>
                ;
        };
         m36_BE: m36_BE {
           label = "m36_BE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp B>
                , <&macro_tap &kp E>
                ;
        };
         m37_BR: m37_BR {
           label = "m37_BR";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp B>
                , <&macro_tap &kp R>
                ;
        };
         m38_BT: m38_BT {
           label = "m38_BT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp B>
                , <&macro_tap &kp T>
                ;
        };
         m39_GA: m39_GA {
           label = "m39_GA";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp G>
                , <&macro_tap &kp A>
                , <&macro_tap &kp O>
                ;
        };
         m40_GS: m40_GS {
           label = "m40_GS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp G>
                , <&macro_tap &kp S>
                ;
        };
         m41_GD: m41_GD {
           label = "m41_GD";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp G>
                , <&macro_tap &kp D>
                ;
        };
         m42_GF: m42_GF {
           label = "m42_GF";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp G>
                , <&macro_tap &kp F>
                ;
        };
         m43_G1: m43_G1 {
           label = "m43_G1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp G>
                , <&macro_tap &kp N1>
                ;
        };
         m44_BU: m44_BU {
           label = "m44_BU";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp B>
                , <&macro_tap &kp U>
                ;
        };
         m45_GU: m45_GU {
           label = "m45_GU";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp G>
                , <&macro_tap &kp U>
                ;
        };
         m46_B6: m46_B6 {
           label = "m46_B6";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp B>
                , <&macro_tap &kp N6>
                ;
        };
         m47_G6: m47_G6 {
           label = "m47_G6";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp G>
                , <&macro_tap &kp N7>
                ;
        };
         m48_C_RET: m48_C_RET {
           label = "m48_C_RET";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp RET>
                , <&macro_release &kp LCTRL>
                ;
        };
         m49_GE: m49_GE {
           label = "m49_GE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp G>
                , <&macro_tap &kp E>
                ;
        };
         m50_GUI_L: m50_GUI_L {
           label = "m50_GUI_L";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp L>
                , <&macro_release &kp LGUI>
                ;
        };
         m51_GUI_D: m51_GUI_D {
           label = "m51_GUI_D";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp D>
                , <&macro_release &kp LGUI>
                ;
        };
         m52_GUI_U: m52_GUI_U {
           label = "m52_GUI_U";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp UP>
                , <&macro_release &kp LGUI>
                ;
        };
         m53_GUI_D: m53_GUI_D {
           label = "m53_GUI_D";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp DOWN>
                , <&macro_release &kp LGUI>
                ;
        };
         m54_GUI_L: m54_GUI_L {
           label = "m54_GUI_L";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp LEFT>
                , <&macro_release &kp LGUI>
                ;
        };
         m55_GUI_1: m55_GUI_1 {
           label = "m55_GUI_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp N1>
                , <&macro_release &kp LGUI>
                ;
        };
         m56_GUI_2: m56_GUI_2 {
           label = "m56_GUI_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp N2>
                , <&macro_release &kp LGUI>
                ;
        };
         m57_GUI_3: m57_GUI_3 {
           label = "m57_GUI_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp N3>
                , <&macro_release &kp LGUI>
                ;
        };
         m58_GUI_4: m58_GUI_4 {
           label = "m58_GUI_4";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp N4>
                , <&macro_release &kp LGUI>
                ;
        };
         m59_GUI_5: m59_GUI_5 {
           label = "m59_GUI_5";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp N5>
                , <&macro_release &kp LGUI>
                ;
        };
         m60_GUI_6: m60_GUI_6 {
           label = "m60_GUI_6";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp N6>
                , <&macro_release &kp LGUI>
                ;
        };
         m61_G_S_1: m61_G_S_1 {
           label = "m61_G_S_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp N1>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LGUI>
                ;
        };
         m62_G_S_2: m62_G_S_2 {
           label = "m62_G_S_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp N2>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LGUI>
                ;
        };
         m63_G_S_3: m63_G_S_3 {
           label = "m63_G_S_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp N3>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LGUI>
                ;
        };
         m64_G_S_4: m64_G_S_4 {
           label = "m64_G_S_4";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp N4>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LGUI>
                ;
        };
         m65_G_S_5: m65_G_S_5 {
           label = "m65_G_S_5";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp N5>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LGUI>
                ;
        };
         m66_G_S_6: m66_G_S_6 {
           label = "m66_G_S_6";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp N6>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LGUI>
                ;
        };
          m67_GUI_R: m67_GUI_R {
           label = "m67_GUI_R";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp RIGHT>
                , <&macro_release &kp LGUI>
                ;
        };
         m68_G_S_L: m68_G_S_L {
           label = "m68_G_S_L";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp LEFT>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LGUI>
                ;
        };
         m69_G_S_R: m69_G_S_R {
           label = "m69_G_S_R";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp RIGHT>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LGUI>
                ;
        };
  };
    combos {
        compatible = "zmk,combos";
        combo_EN {
            timeout-ms = <50>;
            key-positions = <55 56>;
            bindings = <&m18_EN>;
        };
        combo_AltDel {
            timeout-ms = <50>;
            key-positions = <52 53>;
            bindings = <&m28_AltDel>;
        };
    };

    behaviors {
      skq: sticky_key_quick_release {
        compatible = "zmk,behavior-sticky-key";
        label = "STICKY_KEY_QUICK_RELEASE";
        #binding-cells = <1>;
        bindings = <&kp>;
        release-after-ms = <1000>;
        quick-release;
        ignore-modifiers;
      };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -------------------------------------------------------------------------------------------------------------------------
// | Esc(F1) | F2(F12)| F3  | F5(F9)| F10(F7)|  F11   |                  |  PSCR | Tog 4 | Tog 2 | Ctr / |  C_S / |        |
// |   TAB   |   Q    |  W  |   E   |   R    |  T(ё)  |                  |   Y   |   U   |  I(щ) |   P   |   [    |  Del   |
// |  LOWER  |   A    |  S  |   D   |   F    |   G    |                  |   H   |   J   |  K    |   L   |   ;    | LOWER  |
// |   CTRL  |   Z    |  X  |   C   |   V    |  B(й)  | PSCR  |  | MUTE  |   N   |  M(ъ) |  ,    |   .   |   /    | C_ENTR |
//                    | GUI |  ALT  |  BSPC  | ^ SHFT | ENTR ^|  |  RU   | SPACE |  ,_   |  ._^  |   .   |
            bindings = <
&mt F1 ESC &mt F12 F2 &kp F3 &mt F9 F5 &mt F7 F10 &kp F11                           &kp PSCRN &tog 4     &tog 3    &m23_CMNT &m24_UNCMNT &none
&kp TAB    &kp Q      &kp W  &kp E     &kp R      &td0                              &kp Y     &kp U      &td2      &kp P     &kp LBKT    &kp DEL
&mo 1      &kp A      &kp S  &kp D     &kp F      &kp G                             &kp H     &kp J      &kp K     &kp L     &kp SEMI    &mo 1
&skq LCTRL &kp Z      &kp X  &kp C     &kp V      &td1       &kp PSCRN   &kp C_MUTE &kp N     &td3       &kp COMMA &kp DOT   &kp FSLH    &m48_C_RET
                      &mo 5  &td5      &kp BSPC   &skq LSHFT &m29_EntSft &m17_RU    &kp SPACE &m19_COMMA &m20_DOT  &m21_DOTn
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
// ------------------------------------------------------------------------------------------------------
// |  !  |  ""  |   №   |  ;    |  %  |  :   |                 |  C_W  |     |     |     |     |        |
// |  &  |  @   |   #   |  ( )  | [ ] |  ?   |                 |   7   |  8  |  9  |  <  |  >  |  Del   |
// |     | PGUP |  < -  |  ->   |  ^  |  %   |                 |   4   |  5  |  6  |  +  |  -  |        |
// |     | PGDN | Ctl<- | Ctl-> |  v  |  { } | boot  |  | boot |   1   |  2  |  3  |  *  |  /  | C_ENTR |
//              | Номе  |  End  | BSPC| SHFT | ENTER |  |      | SPACE |  0  |  .  |  =  |
            bindings = <
&m3_EXCL &m2_2DQT  &m5_No     &m6_SEMI    &m8_PRCNT  &m7_COLO                           &caps_word &none   &none     &none           &m31_rt   &m30_psw
&m9_AMPS &m4_AT    &m0_HASH   &m11_2PAR   &m13_2BKT  &m10_QMARK                         &kp N7     &kp N8  &kp N9    &kp LT          &kp GT    &kp DEL
&trans   &kp PG_UP &kp LEFT   &kp RIGHT   &kp UP     &m12_PRCNT                         &kp N4     &kp N5  &kp N6    &kp KP_PLUS     &td6      &trans
&trans   &kp PG_DN &m15_ClLFT &m16_ClRIGT &kp DOWN   &m13_2BKT  &bootloader &bootloader &kp N1     &kp N2  &kp N3    &kp KP_MULTIPLY &kp SLASH &m48_C_RET
                   &kp HOME   &kp END     &kp BSPC   &skq LSHFT &kp RET     &none       &kp SPACE  &kp N0  &m21_DOTn &kp EQUAL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
// -------------------------------------------------------------------------------------------------------------
// |       |      |       |       |      |        |                  |       |     |     | Ctr / | C_S / |     |
// |       |      |       |       |      |        |                  |       |     |     |       |       |     |
// |       | PGUP |  < -  |  ->   |  ^   |        |                  |       |     |     |       |       |     |
// | LCTRL | PGDN | Ctl<- | Ctl-> |  v   |        |                  |       |     |     |       |       |     |
//                | OBNU  | OBND  | BSPC | ^ SHFT | ENTER |  |       | SPACE |     |     |       |
            bindings = <
&tog 2    &none     &none      &none       &none    &none                    &none     &none &none &m23_CMNT &m24_UNCMNT &none
&none     &none     &none      &none       &none    &none                    &none     &none &none &none     &none       &none
&none     &kp PG_UP &m15_ClLFT &m16_ClRIGT &kp UP   &none                    &none     &none &none &none     &none       &none
&kp LCTRL &kp PG_DN &kp LEFT   &kp RIGHT   &kp DOWN &none     &none    &none &none     &none &none &none     &none       &none   
                    &m26_OBNU  &m25_OBND   &kp BSPC &kp LSHFT &kp RET  &none &kp SPACE &none &none
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        gm_layer {
// -------------------------------------------------------------------------------------------
// | ESC  | off |  3  |  4  |  5  |  6  |                |     |     |     |     |     |     |
// |  2   |  Q  |  W  |  E  |  R  |  T  |                |     |     |     |     |     |     |
// |      |  A  |  S  |  D  |  F  |  G  |                |     |     |     |     |     |     |
// | CTRL |  Z  |  X  |  C  |  V  |  B  | MUTE |  |      |     |     |     |     |     |     |
//              |  Y  | ALT |  U  |  I  |  O   |  |      |     |     |     |     |     
            bindings = <
&kp ESC   &tog 3 &kp N3 &kp N4 &kp N5 &kp N6                 &none &none &none &none &none &none
&kp N2    &kp Q  &kp W  &kp E  &kp R  &kp T                  &none &none &none &none &none &none
&kp N1    &kp A  &kp S  &kp D  &kp F  &kp G                  &none &none &none &none &none &none
&kp LCTRL &kp Z  &kp X  &kp C  &kp V  &kp B &kp C_MUTE &none &none &none &none &none &none &none
                 &kp Y  &kp I  &kp U  &kp I &kp O      &none &none &none &none &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };       
        gm_layer2 {
// -------------------------------------------------------------------------------------------
// | ESC  | off |  3  |  4  |  5  |  6  |                |     |     |     |     |     |     |
// |  2   |  Q  |  W  |  E  |  R  |  T  |                |     |     |     |     |     |     |
// |      |  A  |  S  |  D  |  F  |  G  |                |     |     |     |     |     |     |
// | CTRL |  Z  |  X  |  C  |  V  |  B  | MUTE |  |      |     |     |     |     |     |     |
//              |  Y  | ALT |  U  |  I  |  O   |  | LSHFT|  O  |     |     |     |     
            bindings = <
&kp ESC &tog 4  &kp N3  &kp N2  &kp N5  &m47_G6                      &none &none &none &none &none &none
&kp N2  &kp Q   &kp W   &m49_GE &m45_GU &m46_B6                      &none &none &none &none &none &none
&m43_G1 &m39_GA &m40_GS &m41_GD &m42_GF &kp G                        &none &none &none &none &none &none
&m35_B1 &m32_BA &m33_BS &m34_BD &kp V   &kp B   &kp C_MUTE &none     &none &none &none &none &none &none
                &kp Y   &m36_BE &m44_BU &kp I   &m38_BT    &kp LSHFT &kp O &none &none &none
// GT средняя кнопка, GR + GE колесо               
            >;

//            sensor-bindings = <&inc_dec_kp &m36_BE &m44_BU &inc_dec_kp PG_UP PG_DN>;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
        gui_layer {
// -------------------------------------------------------------------------------------------
// | ESC  | off |  3  |  4  |  5  |  6  |                |     |     |     |     |     |     |
// |  2   |  Q  |  W  |  E  |  R  |  T  |                |     |     |     |     |     |     |
// |      |  A  |  S  |  D  |  F  |  G  |                |     |     |     |     |     |     |
// | CTRL |  Z  |  X  |  C  |  V  |  B  | MUTE |  |      |     |     |     |     |     |     |
//              |  Y  | ALT |  U  |  I  |  O   |  |      |     |     |     |     |     
            bindings = <
&m55_GUI_1 &m56_GUI_2 &m57_GUI_3 &m58_GUI_4 &m59_GUI_5 &m60_GUI_6                  &none &none &none &none &none &none
&m61_G_S_1 &m62_G_S_2 &m63_G_S_3 &m64_G_S_4 &m65_G_S_5 &m66_G_S_6                  &none &none &none &none &none &none
&none      &m52_GUI_U &m68_G_S_L &m69_G_S_R &none      &none                       &none &none &none &none &none &none
&none      &m53_GUI_D &m54_GUI_L &m67_GUI_R &none      &none      &kp C_MUTE &none &none &none &none &none &none &none
                      &trans     &kp LGUI   &none      &m51_GUI_D &m50_GUI_L &none &none &none &none &none
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
   
