/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&caps_word {
    continue-list = <RBKT>, <GRAVE>, <COMMA>, <DOT>, <FSLH>;
};

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp T>, <&kp GRAVE>, <&none>;
        };
        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_1";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp B>, <&kp Q>, <&none>;
        };
        td2: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_2";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp I>, <&kp O>, <&none>;
        };
        td3: tap_dance_3 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_3";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp M>, <&kp RBKT>, <&none>;
        };
        td4: tap_dance_4 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_4";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sk LSHIFT>, <&kp RBKT>, <&none>;
        };
        td5: tap_dance_5 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_4";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sk LALT>, <&m22_AltF4>, <&none>;
        };
        td6: tap_dance_6 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_6";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp KP_MINUS>, <&kp UNDER>, <&none>;
        };
    };
    macros {
        m0_HASH: m0_HASH {
            label = "m0_HASH";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N3 &kp KP_N5>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m1_DQT: m1_DQT {
            label = "m1_DQT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N3 &kp KP_N4>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m2_2DQT: m2_2DQT {
            label = "m2_2DQT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N3 &kp KP_N4>
                , <&macro_release &kp LEFT_ALT>
                , <&macro_tap &kp LEFT>
                , <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N3 &kp KP_N4>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m3_EXCL: m3_EXCL {
            label = "m3_EXCL";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N3 &kp KP_N3>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m4_AT: m4_AT {
            label = "m4_AT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N6 &kp KP_N4>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m5_No: m5_No {
            label = "m5_No";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N2 &kp KP_N5 &kp KP_N2>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m6_SEMI: m6_SEMI {
            label = "m6_SEMI";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N5 &kp KP_N9>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m7_COLO: m7_COLO {
            label = "m7_COLO";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N5 &kp KP_N8>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m8_PRCNT: m8_PRCNT {
            label = "m8_PRCNT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N3 &kp KP_N7>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m9_AMPS: m9_AMPS {
            label = "m9_AMPS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N3 &kp KP_N8>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m10_QMARK: m10_QMARK {
            label = "m10_QMARK";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N6 &kp KP_N3>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m11_2PAR: m11_2PAR {
            label = "m11_2PAR";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N4 &kp KP_N0>
                , <&macro_release &kp LEFT_ALT>
                , <&macro_tap &kp LEFT>
                , <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N4 &kp KP_N1>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m12_PRCNT: m12_PRCNT {
            label = "m12_PRCNT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N3 &kp KP_N7>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m13_2BKT: m13_2BKT {
            label = "m13_2BKT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N9 &kp KP_N1>
                , <&macro_release &kp LEFT_ALT>
                , <&macro_tap &kp LEFT>
                , <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N9 &kp KP_N3>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
        m14_2BRC: m14_2BRC {
            label = "m14_2BRC";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N1 &kp KP_N2 &kp KP_N3>
                , <&macro_release &kp LEFT_ALT>
                , <&macro_tap &kp LEFT>
                , <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N4 &kp KP_N1 &kp KP_N5>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
         m15_ClLFT: m15_ClLFT {
            label = "m15_ClLFT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp LEFT>
                , <&macro_release &kp LCTRL>
                ;
        };
         m16_ClRIGT: m16_ClRIGT {
            label = "m16_ClRIGT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp RIGHT>
                , <&macro_release &kp LCTRL>
                ;
        };
         m17_RU: m17_RU {
            label = "m17_RU";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp N8>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>
                ;
        };
         m18_EN: m18_EN {
            label = "m18_EN";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp N9>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>
                ;
        };
         m19_COMMA: m19_COMMA {
            label = "m19_COMMA";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N4 &kp KP_N4>
                , <&macro_release &kp LEFT_ALT>
                , <&macro_tap &kp SPACE>
                ;
        };
         m20_DOT: m20_DOT {
            label = "m20_DOT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N4 &kp KP_N6>
                , <&macro_release &kp LEFT_ALT>
                , <&macro_tap &kp SPACE>
                , <&macro_tap &sl LSHFT>
                ;
        };
         m21_DOTn: m21_DOTn {
            label = "m21_DOTn";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp KP_N4 &kp KP_N6>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
         m22_AltF4: m22_AltF4 {
            label = "m22_AltF4";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_tap &kp F4>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
         m23_CMNT: m23_CMNT {
            label = "m22_AltF4";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp BSLH>
                , <&macro_release &kp LCTRL>
                ;
        };
         m24_UNCMNT: m24_UNCMNT {
            label = "m24_UNCMNT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp BSLH>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>
                ;
        };
         m25_OBND: m25_OBND {
            label = "m25_OBND";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp N>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
         m26_OBNU: m26_OBNU {
            label = "m26_OBNU";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_ALT>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp P>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LEFT_ALT>
                ;
        };
         m27_OSM: m27_OSM {
            label = "m27_OSM";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &sl LSHFT>
                ;
        };
        
   };
    combos {
        compatible = "zmk,combos";
        combo_EN {
            timeout-ms = <50>;
            key-positions = <55 56>;
            bindings = <&m18_EN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ---------------------------------------------------------------------------------------------------------------------
// | Esc(F1) | F2(F12)| F3  | F5(F9)|  F10 |  F11   |                  |  PSCR | Ins  | Tog 2 | Ctr / |  C_S / |  Del  |
// |   TAB   |   Q    |  W  |   E   |  R   |  T(ё)  |                  |   Y   |  U   |  I(щ) |   P   |   [    |       |
// |  LOWER  |   A    |  S  |   D   |  F   |   G    |                  |   H   |  J   |  K    |   L   |   ;    | LOWER |
// |   CTRL  |   Z    |  X  |   C   |  V   |  B(й)  |       |  | MUTE  |   N   | M(ъ) |  ,    |   .   |   /    | ENTER |
//                    | GUI |  ALT  | BSPC | ^ SHFT | ENTER |  |  RU   | SPACE |  ,_  |  ._^  |       |
            bindings = <
&mt F1 ESC &mt F12 F2 &kp F3   &mt F9 F5 &kp F10  &kp F11                       &kp PSCRN &kp INS    &tog 2    &m23_CMNT &m24_UNCMNT &kp DEL
&kp TAB    &kp Q      &kp W    &kp E     &kp R    &td0                          &kp Y     &kp U      &td2      &kp P     &kp LBKT    &none
&mo 1      &kp A      &kp S    &kp D     &kp F    &kp G                         &kp H     &kp J      &kp K     &kp L     &kp SEMI    &mo 1
&kp LCTRL  &kp Z      &kp X    &kp C     &kp V    &td1       &none   &kp C_MUTE &kp N     &td3       &kp COMMA &kp DOT   &kp FSLH    &kp RET
                      &kp LGUI &td5      &kp BSPC &mt LSHFT  &kp RET &m17_RU    &kp SPACE &m19_COMMA &m20_DOT  &none
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
// TODO: Some binds are waiting for shifted keycode support.
// -----------------------------------------------------------------------------------------------------
// |  !  |   "  |   №   |  ;    |  %  |  :   |                 |       |     |     |     |     |       |
// |  @  |  ""  |   #   |  ()   |  ?  |  &   |                 |   7   |  8  |  9  |  <  |  >  |  C_W  |
// |     | PGUP |  < -  |  ->   |  ^  |  %   |                 |   4   |  5  |  6  |  +  |  -  |       |
// |     | PGDN | Ctl<- | Ctl-> |  v  |  {}  | boot  |  | boot |   1   |  2  |  3  |  *  |  /  | ENTER |
//              | Номе  |  End  | BSPC|  []  | ENTER |  |      | SPACE |  0  |  .  |  =  |
            bindings = <
&m3_EXCL &m1_DQT   &m5_No     &m6_SEMI    &m8_PRCNT  &m7_COLO                           &none     &none   &none     &none           &none    &none
&m4_AT   &m2_2DQT  &m0_HASH   &m11_2PAR   &m10_QMARK &m9_AMPS                           &kp N7    &kp N8  &kp N9    &kp LT          &kp GT   &caps_word
&trans   &kp PG_UP &kp LEFT   &kp RIGHT   &kp UP     &m12_PRCNT                         &kp N4    &kp N5  &kp N6    &kp KP_PLUS     &td6     &trans
&trans   &kp PG_DN &m15_ClLFT &m16_ClRIGT &kp DOWN   &m14_2BRC  &bootloader &bootloader &kp N1    &kp N2  &kp N3    &kp KP_MULTIPLY &kp BSLH &kp RET
                   &kp HOME   &kp END     &kp BSPC   &m13_2BKT  &kp RET     &none       &kp SPACE &kp N0  &m21_DOTn &kp EQUAL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
// -------------------------------------------------------------------------------------------------------------
// |       |      |       |       |      |        |                  |       |     |     | Ctr / | C_S / |     |
// |       |      |       |       |      |        |                  |       |     |     |       |       |     |
// |       | PGUP |  < -  |  ->   |  ^   |        |                  |       |     |     |       |       |     |
// | LCTRL | PGDN | Ctl<- | Ctl-> |  v   |        |                  |       |     |     |       |       |     |
//                | OBNU  | OBND  | BSPC | ^ SHFT | ENTER |  |       | SPACE |     |     |       |
            bindings = <
&tog 2    &none     &none      &none       &none    &none                    &none     &none &none &m23_CMNT &m24_UNCMNT &none
&none     &none     &none      &none       &none    &none                    &none     &none &none &none     &none       &none
&none     &kp PG_UP &m15_ClLFT &m16_ClRIGT &kp UP   &none                    &none     &none &none &none     &none       &none
&kp LCTRL &kp PG_DN &kp LEFT   &kp RIGHT   &kp DOWN &none     &none    &none &none     &none &none &none     &none       &none   
                    &m26_OBNU  &m25_OBND   &kp BSPC &kp LSHFT &kp RET  &none &kp SPACE &none &none
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
   
